//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 06 02:31:18 2021
//! **************************************************************************

SCHEMATIC START;
COMP "o_cs" LOCATE = SITE "P41" LEVEL 1;
COMP "i_clk" LOCATE = SITE "P56" LEVEL 1;
COMP "o_sck" LOCATE = SITE "P50" LEVEL 1;
COMP "io_miso" LOCATE = SITE "P51" LEVEL 1;
COMP "io_mosi" LOCATE = SITE "P48" LEVEL 1;
COMP "o_enable<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "o_enable<1>" LOCATE = SITE "P74" LEVEL 1;
COMP "o_enable<2>" LOCATE = SITE "P67" LEVEL 1;
COMP "o_enable<3>" LOCATE = SITE "P75" LEVEL 1;
COMP "o_7segment<0>" LOCATE = SITE "P80" LEVEL 1;
COMP "o_7segment<1>" LOCATE = SITE "P79" LEVEL 1;
COMP "o_7segment<2>" LOCATE = SITE "P83" LEVEL 1;
COMP "o_7segment<3>" LOCATE = SITE "P82" LEVEL 1;
COMP "o_7segment<4>" LOCATE = SITE "P81" LEVEL 1;
COMP "o_7segment<5>" LOCATE = SITE "P78" LEVEL 1;
COMP "o_7segment<6>" LOCATE = SITE "P84" LEVEL 1;
TIMEGRP My_DCM_clkfx = BEL "r_sck1" BEL "My_DCM/clkout2_buf";
PIN
        My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[4].u_ramb18/U_RAMB18_pins<29>
        = BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[4].u_ramb18/U_RAMB18"
        PINNAME CLKB;
PIN
        My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[3].u_ramb18/U_RAMB18_pins<29>
        = BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[3].u_ramb18/U_RAMB18"
        PINNAME CLKB;
PIN
        My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[2].u_ramb18/U_RAMB18_pins<29>
        = BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[2].u_ramb18/U_RAMB18"
        PINNAME CLKB;
PIN
        My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[1].u_ramb18/U_RAMB18_pins<29>
        = BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[1].u_ramb18/U_RAMB18"
        PINNAME CLKB;
PIN
        My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[0].u_ramb18/U_RAMB18_pins<29>
        = BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[0].u_ramb18/U_RAMB18"
        PINNAME CLKB;
PIN
        My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[4].u_ramb18/U_RAMB18_pins<29>
        = BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[4].u_ramb18/U_RAMB18"
        PINNAME CLKB;
PIN
        My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[3].u_ramb18/U_RAMB18_pins<29>
        = BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[3].u_ramb18/U_RAMB18"
        PINNAME CLKB;
PIN
        My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[2].u_ramb18/U_RAMB18_pins<29>
        = BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[2].u_ramb18/U_RAMB18"
        PINNAME CLKB;
PIN
        My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[1].u_ramb18/U_RAMB18_pins<29>
        = BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[1].u_ramb18/U_RAMB18"
        PINNAME CLKB;
PIN
        My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[0].u_ramb18/U_RAMB18_pins<29>
        = BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[0].u_ramb18/U_RAMB18"
        PINNAME CLKB;
PIN SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1> = BEL
        "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1" PINNAME O;
PIN My_DCM/dcm_sp_inst_pins<1> = BEL "My_DCM/dcm_sp_inst" PINNAME CLKFB;
TIMEGRP r_clk = BEL "r_conter_0" BEL "r_conter_1" BEL "r_conter_2" BEL
        "r_conter_3" BEL "r_conter_4" BEL "r_conter_5" BEL "r_conter_6" BEL
        "r_conter_7" BEL "r_conter_8" BEL "r_conter_9" BEL "r_conter_10" BEL
        "r_conter_11" BEL "r_conter_12" BEL "r_conter_13" BEL "r_conter_14"
        BEL "r_conter_15" BEL "Inst_NumberTo7Segment/aCounter/r_select_2bit_0"
        BEL "Inst_NumberTo7Segment/aCounter/r_select_2bit_1" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_0" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_1" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_2" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_3" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_4" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_5" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_6" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_7" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_8" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_9" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_10" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_11" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_12" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_13" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_14" BEL
        "Inst_NumberTo7Segment/aCounter/r_counter_15" BEL "r_start_transmit"
        BEL "r_cs" BEL "My_ILA/U0/I_YES_D.U_ILA/U_TRIG/F_NO_TCMC.U_FDR" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/I_MC_NO.U_NO_MC_REG"
        BEL "My_ILA/U0/I_YES_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_CAP_DLY" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.FF"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.FF"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.FF"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.FF"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_VARX.U_match/I_SRL32.U_VARX_SRL32/U_G/I_TW_GTE16.F_TW[0].I_NO_RPM.I_OREG.U_OREG"
        BEL "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL1/U_DOUT" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL1/U_RFDRE" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL1/U_GEN_DELAY[1].U_FD" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_STATE0" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_STATE1" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[0].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[1].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[2].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[3].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[4].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[5].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[6].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[7].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[8].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[9].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[10].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[11].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[12].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[13].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/G_NS[14].U_NSQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_CR" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL3" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL2" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/G_RST[7].U_RST" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/G_RST[6].U_RST" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/G_RST[5].U_RST" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/G_RST[4].U_RST" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/G_RST[3].U_RST" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/G_RST[2].U_RST" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/G_RST[1].U_RST" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/G_RST[0].U_RST" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[2].U_FD" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[1].U_FD" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_RFDRE" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[4].U_FD" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[3].U_FD" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[2].U_FD" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[1].U_FD" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_RFDRE" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_CDONE/I_YESLUT6.I_NO_RPM.I_YES_OREG.OUT_REG"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS1/I_YESLUT6.I_NO_RPM.I_YES_OREG.OUT_REG"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS0/I_YESLUT6.I_NO_RPM.I_YES_OREG.OUT_REG"
        BEL "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG1" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG0" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE1" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE0" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_SCNT_CMP_Q" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_LCMP_Q" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_HCMP_Q" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[14].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[14].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[13].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[13].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[12].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[12].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[11].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[11].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[10].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[10].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[9].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[9].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_CAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_iCAP_ADDR"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[0].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[1].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[2].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[3].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[4].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[5].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[6].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[7].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[8].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[9].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[10].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[11].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[12].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[13].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[14].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[0].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[1].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[2].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[3].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[4].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[5].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[6].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[7].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[8].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[9].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[10].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[11].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[12].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[13].U_FDRE"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[14].U_FDRE"
        BEL "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_ECR" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_FULL" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_TRIGGER" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_ARM" BEL
        "My_ILA/U0/I_DQ.G_DW[3].U_DQ" BEL "My_ILA/U0/I_DQ.G_DW[2].U_DQ" BEL
        "My_ILA/U0/I_DQ.G_DW[1].U_DQ" BEL "My_ILA/U0/I_DQ.G_DW[0].U_DQ" BEL
        "My_ILA/U0/I_TQ0.G_TW[0].U_TQ" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_OREG.I_YES_OREG.U_OREG"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_VARX.U_match/I_SRL32.U_VARX_SRL32/F_TW[0].U_TREG"
        BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_VARX.U_match/I_SRL32.U_VARX_SRL32/I_YES_IREG.F_TW[0].U_IREG"
        BEL "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL1/U_DOUT0" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_DSL1/U_DOUT1" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_STAT/U_RISING" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_POR" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT1" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT0" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT1" BEL
        "My_ILA/U0/I_YES_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT0" PIN
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[4].u_ramb18/U_RAMB18_pins<29>"
        PIN
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[3].u_ramb18/U_RAMB18_pins<29>"
        PIN
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[2].u_ramb18/U_RAMB18_pins<29>"
        PIN
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[1].u_ramb18/U_RAMB18_pins<29>"
        PIN
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_0/I_B18KGT0.G_RAMB18[0].u_ramb18/U_RAMB18_pins<29>"
        PIN
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[4].u_ramb18/U_RAMB18_pins<29>"
        PIN
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[3].u_ramb18/U_RAMB18_pins<29>"
        PIN
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[2].u_ramb18/U_RAMB18_pins<29>"
        PIN
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[1].u_ramb18/U_RAMB18_pins<29>"
        PIN
        "My_ILA/U0/I_YES_D.U_ILA/U_CAPSTOR/I_CASE1.I_YES_TB.U_TRACE_BUFFER/U_RAM/I_S6.U_CS_BRAM_CASCADE_S6/I_DEPTH_EQ_24K_OR_32K.U_SBRAM_1/I_B18KGT0.G_RAMB18[0].u_ramb18/U_RAMB18_pins<29>"
        BEL "r_clk_BUFG" PIN "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1>" PIN
        "My_DCM/dcm_sp_inst_pins<1>";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN My_DCM/dcm_sp_inst_pins<3> = BEL "My_DCM/dcm_sp_inst" PINNAME CLKIN;
TIMEGRP i_clk = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "My_DCM/dcm_sp_inst_pins<3>";
TS_i_clk = PERIOD TIMEGRP "i_clk" 48 MHz HIGH 50%;
TS_My_DCM_clkfx = PERIOD TIMEGRP "My_DCM_clkfx" TS_i_clk * 0.208333333 HIGH
        50%;
TS_r_clk = PERIOD TIMEGRP "r_clk" TS_i_clk HIGH 50%;
SCHEMATIC END;

